[Unit]
Description=BTC Alert API

[Service]
Type=simple  
Restart=always
User=logan
Environment=API_PORT={{ api_port }}
Environment=MONGO_CONNECTION={{ mongo_connection }}
Environment=JWT_KEY={{ jwt_key }}
Environment=AWS_ACCESS_KEY_ID={{ aws_key }}
Environment=AWS_SECRET_ACCESS_KEY={{ aws_secret }}
Environment=ENV=DEPLOYED
ExecStart=/usr/local/bin/btcapi

[Install]
WantedBy=multi-user.target